<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SoolyWeather.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF6720011E66FCC900FF8D71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF6720151E66FCC900FF8D71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF6720201E66FCC900FF8D71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
